//components/bubble/index.scss
.adm-floating-bubble-button {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    // background-color: green;
}
.bubble-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    // padding: 10px;
    .fa-pause {
        display: none;
    }
    img{ 
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    .fa-solid { 
        font-size: 24px;
    }
    &.play{
        .fa-play {
            display: none;
        }
        .fa-pause{
            display: inline;
        }
    }
        
}