.detail-cont {
    .detail {
        padding: 3rem;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
    h2{
        font-size: 4rem;
        margin: 2rem 0;
        line-height: 4.5rem;
        text-align: left;
    }
    p { 
        font-size: 3rem; 
        line-height:  4rem; 
        color: #999;
        text-align: left;
    }
    .iconfont {
        background-size: cover; /* 根据需要调整背景图片的大小 */
        background-repeat: no-repeat; /* 防止背景图片重复 */
        width: 24px; /* 根据需要调整宽度 */
        height: 24px; /* 根据需要调整高度 */
        border: none;
      }
    .jushoucang {
        background-image: url('../../assets/img/ic_collecte.png');
    }
    .jushoucanggift {
        background-image: url('../../assets/img/ic_collected.png');
    }
}
